/* 
  Posicionamento Estático (Static): É o posicionamento padrão dos elementos HTML. Eles são renderizados na ordem em que aparecem no código HTML e são posicionados de acordo com o fluxo normal do documento. O posicionamento estático não é afetado pelas propriedades de posicionamento.

  Posicionamento Relativo (Relative): Com o posicionamento relativo, você pode ajustar o posicionamento de um elemento em relação à sua posição normal. As propriedades top, right, bottom e left são usadas para mover o elemento em relação à sua posição original. As mudanças de posição não afetam a localização dos outros elementos na página.

  Posicionamento Absoluto (Absolute): Com o posicionamento absoluto, um elemento é removido do fluxo normal do documento e posicionado em relação ao elemento pai mais próximo que tenha um posicionamento não estático (relativo, absoluto ou fixo). O posicionamento absoluto é definido usando as propriedades top, right, bottom e left. Os elementos posicionados de forma absoluta não ocupam espaço em relação a outros elementos na página.

  Posicionamento Fixo (Fixed): Com o posicionamento fixo, um elemento é posicionado em relação à janela do navegador e permanece fixo mesmo quando a página é rolada. O posicionamento fixo é definido usando as propriedades top, right, bottom e left. Elementos fixos são úteis para criar elementos de navegação, barras de cabeçalho ou rodapés fixos.
*/

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  margin-bottom: 20px;
}

.relative-box {
  position: relative;
  top: 20px;
  left: 30px;
}

.absolute-box {
  position: absolute;
  top: 50px;
  left: 100px;
}

.fixed-box {
  position: fixed;
  top: 20px;
  right: 20px;
}